<!DOCTYPE html>
<html lang="en">

<%- include('./parts/head.ejs', { title: "Dashboard" }) %>

    <body>
        <header>
            <img src="<%= user.avatar %> " alt="<%= user.username %> ">
            <span><%= user.username %> </span>
        </header>
        <main class="container">
            <form action="/create-room/<%= user.id %>  " method="POST" class="form">
                <input
                    type="text"
                    class="input"
                    name="roomName"
                    placeholder="Room Name"
                />
                <button type="submit" class="btn-primary">
                    Create a new room
                </button>
            </form>

            <!-- rooms list -->
            <% userRooms.map(room => { %>

                <div>
                    <h4><%= room.roomName %> </h4>
                    <div>
                        <button>Enter Room</button>
                        <button>Delete Room</button>
                    </div>
                </div>

            <% }) %> 
            <!-- end room list -->


        </main>
    </body>
</html>
