<!DOCTYPE html>
<html lang="en">

<%- include('./parts/head.ejs', { title: "Dashboard" }) %>

    <body>
        <header>
            <img src="<%= user.avatar %> " alt="<%= user.username %> ">
            <span><%= user.username %> </span>
        </header>
        <main class="container">
            <form action="/create-room/<%= user.id %>  " method="POST" class="form">
                <input
                    type="text"
                    class="input"
                    name="roomName"
                    placeholder="Room Name"
                />
                <button type="submit" class="btn-primary">
                    Create a new room
                </button>
            </form>
        </main>
    </body>
</html>
